@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --main-color:#3C91E6;
    --black:#000;
    --light-color:#868e96;

}
*{
    margin: 0rem;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    outline:none;
    transition: all .2s linear;
   
}

section{
    padding: 2rem 9%;
}
.schedule {
    background: #eee;
}

.schedule .heading{
    color: #000;
    text-align: center;
    font-size: 400%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.schedule .heading span{
    color: #3C91E6;
}
.tb {
    margin: 20px auto;
    width: 100%;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    color: #000000;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    font-size:medium;
  }
  .zozo{
    background-color: #000;
  }
  
  .table th {
    background-color: #3C91E6;
    color: white;
  }
  .theheader .buttons div{
    font-size: 2rem;
    color: #222;
    padding: .5rem;
    cursor: pointer;
    margin-left: 1rem;
   
}
.Zainab .buttons div:hover{
    transform: rotate(180deg);
}
.Zainab .buttons a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: white;
    background: var(--main-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: .8rem 1.5rem;
    vertical-align: bottom;
    line-height: 2.2rem;
    border: none;
}
.Zainab .buttons a:hover{
    color: var(--main-color);
    background: #fff;
    
}
.Zainab.active{
    padding: 2rem 9%;
    background:rgba(0, 0, 0, .9);
}
.table-custom {
    table-layout: fixed; /* Fixe les tailles des colonnes */
    width: 100%;
}

.table-custom th, .table-custom td {
    overflow: hidden;  /* Empêche le texte de dépasser */
    text-overflow: ellipsis; /* Met "..." si le texte est trop long */
    white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
}


