@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --main-color:#3C91E6;
    --black:#000;
    --light-color:#868e96;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    outline:none;
    transition: all .2s linear;
}
html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
::selection{
    background:var(--main-color);
    color: white ;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background:white;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
section{
    padding: 2rem 9%;
}
.boutton{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: #fff;
    font-weight: 900;
    cursor: pointer;
    color: var(--main-color);
    font-size: 1.7rem;
}
.boutton:hover{
    background: var(--main-color);
    color: #fff;
    letter-spacing:.1rem;
}
/*hedear*/
.theheader{
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding: 0.5rem 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .1);
    box-shadow:0rem .1rem .5rem rgba(0,0,0,.1);
    z-index: 1000;

}
.theheader .sitelogo{
font-size:medium;
color:rgb(0, 0, 0);
font-weight:bold;
text-transform:uppercase ;
letter-spacing:.1rem;
}
.theheader .sitelogo span{
    color: var(--main-color);
    text-transform: uppercase;
}
.theheader .nav a{
    font-size: 1.7rem;
    color:var(--main-color);
    margin: 0 1rem;    
}
.theheader .nav a:hover{
    color: var(--light-color);
}
.theheader .buttons div{
    font-size: 2rem;
    color: #222;
    padding: .5rem;
    cursor: pointer;
    margin-left: 1rem;
}
.theheader .buttons div:hover{
    transform: rotate(180deg);
}
.theheader .buttons a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: white;
    background: var(--main-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: .8rem 1.5rem;
    vertical-align: bottom;
    line-height: 2.2rem;
    border: none;
}
.theheader .buttons a:hover{
    color: var(--main-color);
    background: #fff;
    
}
.theheader.active{
    padding: 2rem 9%;
    background:rgba(0, 0, 0, .9);
}


@media(max-width:768px){
    #menu{
        display: inline-block;
    }
    .theheader .nav{
        position: absolute;
        top: 100%;
        right:0;
        left: 0;
        background: rgba(0,0,0,.9);
        border-top: .1rem solid #eee;
        clip-path:polygon(0 0,100% 0,0 0) ;

    }
    .theheader .nav .active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100% );
    }
    .theheader .nav a{
        display: block;
        margin: 2rem;
        font-size: 2rem;

    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .theheader .buttons a{
        letter-spacing: none;
        font-size: 1.3rem;
        padding: 1rem;
    }

}
@media only screen and (max-width: 1150px) {
    .coachs {
      flex-direction: column;
    }
  
    .coach {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .coach p {
      text-align: center;
      margin: 20px 60px 80px 60px;
      font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .heading {
      font-size: 40px;
      color: 3C91E6;
      text-align: center;
    }
  
    .heading span {
      font-size: 15px;
    }
  
    .coachs {
      margin: 20px 0;
    }
  
    .coach p {
      margin: 20px 10px 80px 10px;
    }
  }
